[req]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
C                      = FR
ST                     = Rhone-Alpes
L                      = Grenoble
O                      = ATOS WORLDGRID
OU                     = Oil, Gas and Water
CN                     = ATOS CIS
emailAddress           = atos.cis@atos.net
