# {{ ansible_managed }}

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
---

####### PERSISTENT VOLUMES #########
{% for pv in localstorage_pvs %}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv.name }}
spec:
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values: ["{{ pv.node }}"]
  volumeMode: {{ pv.volumeMode }}
  capacity:
    storage: {{ pv.size }}
  accessModes:
{% for m in pv.accessModes %}
  - {{ m }}
{% endfor %}
  persistentVolumeReclaimPolicy: {{ pv.policy }}
  storageClassName: local-storage
  local:
    path: {{ pv.path }}
---
{% endfor %}
