apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
api:
  advertiseAddress: {{ hostvars[inventory_hostname]['ansible_' + kubeadm_interface]['ipv4']['address'] }}
etcd:
  endpoints:
  {% for ep in kubeadm_master_etcd_endpoints.split(',')|list -%}
  - {{ ep }}
  {% endfor -%}
  caFile: {{ kubeadm_pki_etcd_dir }}/ca.pem
  certFile: {{ kubeadm_pki_etcd_dir }}/client.pem
  keyFile: {{ kubeadm_pki_etcd_dir }}/client-key.pem
networking:
  podSubnet: {{ kubeadm_pod_subnet }}
apiServerCertSANs:
{% for server in kubeadm_apiserver_cert_sans -%}
- {{ server }}
{% endfor -%}
apiServerExtraArgs:
  endpoint-reconciler-type: "lease"
